# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\KiemTra_J4\PH39701_Lab5_6_0406\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
